.main {
  width: -moz-fit-content;
  width: fit-content;
}

.main h1 {
  color: var(--color-scale-purple-3);
}

.about {
  min-height: 280px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../resources/images/me/dragon_rider.jpg");
  background-position: right 0% bottom 80%;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.about .title {
  text-decoration: underline;
  color: var(--color-scale-yellow-4);
  align-self: flex-end;
}

.posts {
}

.posts a {
  color: var(--color-scale-green-4);
  text-decoration: underline;
}

.posts .title {
}
