.container {
  height: 8em;
}

.cursor {
  border-right: 0.15em solid orange;
  animation: blink-caret 1s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(149, 149, 149, 0.808);
  }
}
