/* container */
.footer {
}

/* list */
.footer ul {
  list-style: none;
}
.footer ul li {
  margin-bottom: 1em;
}
.footer ul li:last-child {
  margin-bottom: unset;
}

/* Pages item */
/* Contacts item */
.pageItem,
.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pageItem > *:first-child,
.contactItem > *:first-child {
  margin-right: 1em;
}
