.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list > * {
  margin-bottom: 3em;
}

.list > *:last-child {
  margin-bottom: unset;
}

.frontmatter {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
}
